.app-container {
  display: flex;
}

.main-content {
  padding: 20px;
  width: calc(100% - 250px);
  margin-left: 250px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
