.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease, width 0.3s ease;

  .side-nav.closed & {
    margin-left: 60px;
    width: calc(100% - 60px);
  }

  @media (max-width: 750px) {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
