.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      font-size: 2rem;
      color: #333;
      animation: fadeIn 1s ease-in-out;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .event {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: slideIn 0.5s ease-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
      margin: 0 0 10px;
      font-size: 1.5rem;
    }

    p {
      margin: 5px 0;
      color: #555;
    }

    .btn-register {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #218838;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .container {
    .header {
      h1 {
        font-size: 1.5rem ;
      }

      button {
        font-size: 0.875rem;
      }
    }

    .event {
      h2 {
        font-size: 1.25rem !important;
      }

      p {
        font-size: 0.875rem !important;
      }

      .btn-register {
        font-size: 0.875rem !important;
      }
    }
  }
}