.container {
  .event {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;

    h2 {
      margin: 0;
    }

    p {
      margin: 5px 0;
    }
  }

  button {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background-color: #138496;
    }
  }
}
