.side-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
    width: 250px;
  
    h2 {
      margin-bottom: 30px;
      font-size: 1.5rem;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: flex;
        text-align: center;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #495057;
        }
  
        &.active {
          background-color: #007bff;
        }
      }
    }
  }
  
  .navbar {
    display: flex !important;
    flex-direction: column !important;
    gap: 30px !important;
  }